@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: normal;
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

.sticky {
  position: sticky;
}

.long {
  width: 100% !important;
}
